
.btn-gradient-primary {
    border: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    width: 100%;
    padding: 20px;
}

.btn-gradient-primary, .btn-gradient-primary:not([disabled]):not(.disabled).active, .btn-gradient-primary:not([disabled]):not(.disabled):active, .show > .btn-gradient-primary.dropdown-toggle {
    background: #49675A;
}

.btn-gradient-primary:hover {
    opacity: .8
}

.btn-gradient-primary:not(.btn-gradient-light), .btn-gradient-primary:not(.btn-gradient-light):active, .btn-gradient-primary:not(.btn-gradient-light):focus, .btn-gradient-primary:not(.btn-gradient-light):hover {
    color: #fff;
    font-weight: bold;
}
